
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
/reports/html-report/

# Allure Reports
/allure-results
/allure-report

# Envirnoment Variables
.env
.env.*